/* Import the Montserrat font-family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

/* Universally used styling rules */
* {
  font-family: "Montserrat", serif;
}

body {
  padding: 1rem;
  background-color: #F5F5F5 !important;
  max-width: 1440px;
  background-image: url("../background-img.svg");
  background-position: center;
  background-size: cover;
}

main {
  text-transform: uppercase;
}

.selectedTab {
  color: #fff;
  background-color: #1CB9B3;
}

.list-scroll {
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.selectTabBox {
  color: #1CB9B3;
}